<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45** minutes

In this lab, you will perform data wrangling tasks to prepare raw data for analysis. Data wrangling involves cleaning, transforming, and organizing data into a structured format suitable for analysis. This lab focuses on tasks like identifying inconsistencies, encoding categorical variables, and feature transformation.

## Objectives

After completing this lab, you will be able to:

- Identify and remove inconsistent data entries.

- Encode categorical variables for analysis.

- Handle missing values using multiple imputation strategies.

- Apply feature scaling and transformation techniques.

#### Intsall the required libraries

In [2]:
!pip install pandas
!pip install matplotlib

Collecting pandas
  Downloading pandas-2.3.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (91 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.3.1-cp312-cp312-manylinux_2_28_x86_64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.2)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.0/12.0 MB 147.1 MB/s eta 0:00:00
Downloading numpy-2.3.1-cp312-cp312-manylinux_2_28_x86_64.whl (16.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.6/16.6 MB 168.9 MB/s eta 0:00:00
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-2.3.1 pandas-2.3.0 tzdata-2025.2
Collecting matplotlib
  Downloading matplotlib-3.10.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.3.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.5 kB)
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.58.5-cp312-cp312-manylinux1_x86_64.manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_5_x86_64.whl.metadata (106 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.8-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (6.2 kB)
Requirement already satisfied: numpy>=1.23 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (2.3.1)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (24.2)
Collecting pillow>=8 (from matplotlib)
  Downloading pillow-11.3.0-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (9.0 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Downloading pyparsing-3.2.3-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Downloading matplotlib-3.10.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (8.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.6/8.6 MB 132.6 MB/s eta 0:00:00
Downloading contourpy-1.3.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (323 kB)
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.58.5-cp312-cp312-manylinux1_x86_64.manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_5_x86_64.whl (4.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.9/4.9 MB 143.0 MB/s eta 0:00:00
Downloading kiwisolver-1.4.8-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 83.9 MB/s eta 0:00:00
Downloading pillow-11.3.0-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (6.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.6/6.6 MB 161.9 MB/s eta 0:00:00
Downloading pyparsing-3.2.3-py3-none-any.whl (111 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.3.2 cycler-0.12.1 fonttools-4.58.5 kiwisolver-1.4.8 matplotlib-3.10.3 pillow-11.3.0 pyparsing-3.2.3

## Tasks

#### Step 1: Import the necessary module.

### 1. Load the Dataset

<h5>1.1 Import necessary libraries and load the dataset.</h5>

Ensure the dataset is loaded correctly by displaying the first few rows.

In [3]:
# Import necessary libraries
import pandas as pd

# Load the Stack Overflow survey data
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
df = pd.read_csv(dataset_url)

# Display the first few rows
print(df.head())

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1            0.0            0.0            0.0             0.0
2            NaN            NaN            NaN             NaN
3            NaN            NaN            NaN             NaN
4            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN                    NaN        NaN                 NaN    NaN
1             0.0                    NaN        NaN                 NaN    NaN
2             NaN  Appropriate in length       Easy                 NaN    NaN
3             NaN               Too long       Easy                 NaN    NaN
4             NaN              Too short       Easy                 NaN    NaN

[5 rows x 114 columns]

#### 2. Explore the Dataset

<h5>2.1 Summarize the dataset by displaying the column data types, counts, and missing values.</h5>

In [4]:
# Write your code here
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65437 entries, 0 to 65436
Columns: 114 entries, ResponseId to JobSat
dtypes: float64(13), int64(1), object(100)
memory usage: 56.9+ MB

<h5>2.2 Generate basic statistics for numerical columns.</h5>

In [5]:
# Write your code here
df.select_dtypes(include='number').describe().round(2)

,ResponseId,CompTotal,WorkExp,JobSatPoints_1,JobSatPoints_4,JobSatPoints_5,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,ConvertedCompYearly,JobSat
count,65437.00,3.374000e+04,29658.00,29324.00,29393.00,29411.00,29450.00,29448.00,29456.00,29456.00,29450.00,29445.00,23435.00,29126.00
mean,32719.00,2.963841e+145,11.47,18.58,7.52,10.06,24.34,22.97,20.28,16.17,10.96,9.95,86155.29,6.94
std,18890.18,5.444117e+147,9.17,25.97,18.42,21.83,27.09,27.02,26.11,24.85,22.91,21.78,186756.97,2.09
min,1.00,0.000000e+00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00
25%,16360.00,6.000000e+04,4.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,32712.00,6.00
50%,32719.00,1.100000e+05,9.00,10.00,0.00,0.00,20.00,15.00,10.00,5.00,0.00,0.00,65000.00,7.00
75%,49078.00,2.500000e+05,16.00,22.00,5.00,10.00,30.00,30.00,25.00,20.00,10.00,10.00,107971.50,8.00
max,65437.00,1.000000e+150,50.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,16256603.00,10.00

### 3. Identifying and Removing Inconsistencies

<h5>3.1 Identify inconsistent or irrelevant entries in specific columns (e.g., Country).</h5>

In [6]:
# Write your code here

countries = df['Country'].unique().tolist()
countries

['United States of America',
 'United Kingdom of Great Britain and Northern Ireland',
 'Canada',
 'Norway',
 'Uzbekistan',
 'Serbia',
 'Poland',
 'Philippines',
 'Bulgaria',
 'Switzerland',
 'India',
 'Germany',
 'Ireland',
 'Italy',
 'Ukraine',
 'Australia',
 'Brazil',
 'Japan',
 'Austria',
 'Iran, Islamic Republic of...',
 'France',
 'Saudi Arabia',
 'Romania',
 'Turkey',
 'Nepal',
 'Algeria',
 'Sweden',
 'Netherlands',
 'Croatia',
 'Pakistan',
 'Czech Republic',
 'Republic of North Macedonia',
 'Finland',
 'Slovakia',
 'Russian Federation',
 'Greece',
 'Israel',
 'Belgium',
 'Mexico',
 'United Republic of Tanzania',
 'Hungary',
 'Argentina',
 'Portugal',
 'Sri Lanka',
 'Latvia',
 'China',
 'Singapore',
 'Lebanon',
 'Spain',
 'South Africa',
 'Lithuania',
 'Viet Nam',
 'Dominican Republic',
 'Indonesia',
 'Kosovo',
 'Morocco',
 'Taiwan',
 'Georgia',
 'San Marino',
 'Tunisia',
 'Bangladesh',
 'Nigeria',
 'Liechtenstein',
 'Denmark',
 'Ecuador',
 'Malaysia',
 'Albania',
 'Azerbaijan',
 'Chile',
 'Ghana',
 'Peru',
 'Bolivia',
 'Egypt',
 'Luxembourg',
 'Montenegro',
 'Cyprus',
 'Paraguay',
 'Kazakhstan',
 'Slovenia',
 'Jordan',
 'Venezuela, Bolivarian Republic of...',
 'Costa Rica',
 'Jamaica',
 'Thailand',
 'Nicaragua',
 'Myanmar',
 'Republic of Korea',
 'Rwanda',
 'Bosnia and Herzegovina',
 'Benin',
 'El Salvador',
 'Zimbabwe',
 'Afghanistan',
 'Estonia',
 'Malta',
 'Uruguay',
 'Belarus',
 'Colombia',
 'Republic of Moldova',
 'Isle of Man',
 'Nomadic',
 'New Zealand',
 'Palestine',
 'Armenia',
 'United Arab Emirates',
 'Maldives',
 'Ethiopia',
 'Fiji',
 'Guatemala',
 'Uganda',
 'Turkmenistan',
 'Mauritius',
 'Kenya',
 'Cuba',
 'Gabon',
 'Bahamas',
 'South Korea',
 'Iceland',
 'Honduras',
 'Hong Kong (S.A.R.)',
 "Lao People's Democratic Republic",
 'Mongolia',
 'Cambodia',
 'Madagascar',
 'Angola',
 'Democratic Republic of the Congo',
 'Syrian Arab Republic',
 'Iraq',
 'Namibia',
 'Senegal',
 'Kyrgyzstan',
 'Zambia',
 'Swaziland',
 "Côte d'Ivoire",
 'Kuwait',
 'Tajikistan',
 'Burundi',
 'Trinidad and Tobago',
 'Mauritania',
 'Sierra Leone',
 'Panama',
 'Somalia',
 'North Korea',
 'Dominica',
 'Guyana',
 'Togo',
 'Oman',
 'Barbados',
 'Andorra',
 "Democratic People's Republic of Korea",
 'Qatar',
 'Sudan',
 'Cameroon',
 'Papua New Guinea',
 'Bahrain',
 'Yemen',
 'Malawi',
 'Burkina Faso',
 'Congo, Republic of the...',
 'Botswana',
 'Guinea-Bissau',
 'Mozambique',
 'Central African Republic',
 'Equatorial Guinea',
 'Suriname',
 'Belize',
 'Libyan Arab Jamahiriya',
 'Cape Verde',
 'Brunei Darussalam',
 'Bhutan',
 'Guinea',
 'Niger',
 'Antigua and Barbuda',
 'Mali',
 'Samoa',
 'Lesotho',
 'Saint Kitts and Nevis',
 'Monaco',
 'Micronesia, Federated States of...',
 'Haiti',
 nan,
 'Nauru',
 'Liberia',
 'Chad',
 'Djibouti',
 'Solomon Islands']

In [7]:
for c in countries:
    if c == "Canada":
        print(c)

Canada

In [8]:
if "Canada" in countries:
        print("Yes")

Yes

In [9]:
if "Jupiter" in countries:
        print("Yes")
else:
    print('No')

No

In [10]:
countries.count('Japan')

1

In [11]:
any(countries)

True

In [12]:
any('Canada' for word in countries)

True

In [13]:
subCountries = ['Japan', 'Germany', 'France', 'Canada']
if any(country for country in countries):
    print('yes')

yes

In [14]:
for country in countries:
    if country in subCountries:
        print(country)

Canada
Germany
Japan
France

In [15]:
country_series = pd.Series(countries)

country_series.loc[country_series.duplicated()]

Series([], dtype: object)

In [16]:
import math

# Clean the list first
countries_cleaned = [country for country in countries if not (isinstance(country, float) and math.isnan(country))]

# Now you can sort the cleaned list
countries_cleaned.sort()

print(countries_cleaned)

['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Congo, Republic of the...', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', "Côte d'Ivoire", "Democratic People's Republic of Korea", 'Democratic Republic of the Congo', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hong Kong (S.A.R.)', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran, Islamic Republic of...', 'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo', 'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libyan Arab Jamahiriya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia, Federated States of...', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Nomadic', 'North Korea', 'Norway', 'Oman', 'Pakistan', 'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Republic of Korea', 'Republic of Moldova', 'Republic of North Macedonia', 'Romania', 'Russian Federation', 'Rwanda', 'Saint Kitts and Nevis', 'Samoa', 'San Marino', 'Saudi Arabia', 'Senegal', 'Serbia', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Korea', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Taiwan', 'Tajikistan', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom of Great Britain and Northern Ireland', 'United Republic of Tanzania', 'United States of America', 'Uruguay', 'Uzbekistan', 'Venezuela, Bolivarian Republic of...', 'Viet Nam', 'Yemen', 'Zambia', 'Zimbabwe']

<h5>3.2 Standardize entries in columns like Country or EdLevel by mapping inconsistent values to a consistent format.</h5>

In [17]:
## Write your code here
import numpy as np
df_only_numbers = df.select_dtypes(include=float)
df_only_numbers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65437 entries, 0 to 65436
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CompTotal            33740 non-null  float64
 1   WorkExp              29658 non-null  float64
 2   JobSatPoints_1       29324 non-null  float64
 3   JobSatPoints_4       29393 non-null  float64
 4   JobSatPoints_5       29411 non-null  float64
 5   JobSatPoints_6       29450 non-null  float64
 6   JobSatPoints_7       29448 non-null  float64
 7   JobSatPoints_8       29456 non-null  float64
 8   JobSatPoints_9       29456 non-null  float64
 9   JobSatPoints_10      29450 non-null  float64
 10  JobSatPoints_11      29445 non-null  float64
 11  ConvertedCompYearly  23435 non-null  float64
 12  JobSat               29126 non-null  float64
dtypes: float64(13)
memory usage: 6.5 MB

In [18]:
## Write your code here
import numpy as np
df_only_numbers = df.select_dtypes(include=np.number)
# df_only_numbers.info()

df_normalized = pd.DataFrame()
for col in df_only_numbers: 
    min_n = df_only_numbers[col].min()
    max_n = df_only_numbers[col].max()

    df_normalized[col] = (df_only_numbers[col] - min_n) / (max_n - min_n)


df_normalized.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65437 entries, 0 to 65436
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ResponseId           65437 non-null  float64
 1   CompTotal            33740 non-null  float64
 2   WorkExp              29658 non-null  float64
 3   JobSatPoints_1       29324 non-null  float64
 4   JobSatPoints_4       29393 non-null  float64
 5   JobSatPoints_5       29411 non-null  float64
 6   JobSatPoints_6       29450 non-null  float64
 7   JobSatPoints_7       29448 non-null  float64
 8   JobSatPoints_8       29456 non-null  float64
 9   JobSatPoints_9       29456 non-null  float64
 10  JobSatPoints_10      29450 non-null  float64
 11  JobSatPoints_11      29445 non-null  float64
 12  ConvertedCompYearly  23435 non-null  float64
 13  JobSat               29126 non-null  float64
dtypes: float64(14)
memory usage: 7.0 MB

In [19]:
df_standardized = pd.DataFrame()

for col in df_only_numbers.columns:
    mean_n = df_only_numbers[col].mean()
    stdev_n = df_only_numbers[col].std()

    df_standardized[col] = (df_only_numbers[col] - mean_n) / stdev_n

df_standardized.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65437 entries, 0 to 65436
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ResponseId           65437 non-null  float64
 1   CompTotal            33740 non-null  float64
 2   WorkExp              29658 non-null  float64
 3   JobSatPoints_1       29324 non-null  float64
 4   JobSatPoints_4       29393 non-null  float64
 5   JobSatPoints_5       29411 non-null  float64
 6   JobSatPoints_6       29450 non-null  float64
 7   JobSatPoints_7       29448 non-null  float64
 8   JobSatPoints_8       29456 non-null  float64
 9   JobSatPoints_9       29456 non-null  float64
 10  JobSatPoints_10      29450 non-null  float64
 11  JobSatPoints_11      29445 non-null  float64
 12  ConvertedCompYearly  23435 non-null  float64
 13  JobSat               29126 non-null  float64
dtypes: float64(14)
memory usage: 7.0 MB

In [20]:
for col in df_only_numbers.columns:
    mean_n = df_only_numbers[col].mean()
    stdev_n = df_only_numbers[col].std()

    # THIS IS THE CRITICAL PART:
    if stdev_n == 0:
        # If standard deviation is 0, this block is executed.
        # We ASSIGN 0.0 to the column. No division happens here.
        df_standardized[col] = 0.0
    else:
        # If standard deviation is NOT 0, this block is executed.
        # The division (df_only_numbers[col] - mean_n) / stdev_n happens here.
        df_standardized[col] = (df_only_numbers[col] - mean_n) / stdev_n

### 4. Encoding Categorical Variables

<h5>4.1 Encode the Employment column using one-hot encoding.</h5>

In [21]:
## Write your code here

employed_dummies = pd.get_dummies(df['Employment'])

In [22]:
employed_dummies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65437 entries, 0 to 65436
Columns: 110 entries, Employed, full-time to Student, part-time;Retired
dtypes: bool(110)
memory usage: 6.9 MB

In [23]:
employed_dummies.columns.tolist()[:5]

['Employed, full-time',
 'Employed, full-time;Employed, part-time',
 'Employed, full-time;Independent contractor, freelancer, or self-employed',
 'Employed, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time',
 'Employed, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time;Retired']

In [24]:
employed_dummies.iloc[:5, :4]

,"Employed, full-time","Employed, full-time;Employed, part-time","Employed, full-time;Independent contractor, freelancer, or self-employed","Employed, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time"
0,True,False,False,False
1,True,False,False,False
2,True,False,False,False
3,False,False,False,False
4,False,False,False,False

### 5. Handling Missing Values

<h5>5.1 Identify columns with the highest number of missing values.</h5>

In [25]:
## Write your code here

df.isnull().sum()

ResponseId                 0
MainBranch                 0
Age                        0
Employment                 0
RemoteWork             10631
                       ...
JobSatPoints_11        35992
SurveyLength            9255
SurveyEase              9199
ConvertedCompYearly    42002
JobSat                 36311
Length: 114, dtype: int64

<h5>5.2 Impute missing values in numerical columns (e.g., `ConvertedCompYearly`) with the mean or median.</h5>

In [26]:
## Write your code here

df['ConvertedCompYearly'].dtype

dtype('float64')

In [27]:
ConvertedCompYearly_median = df['ConvertedCompYearly'].median()

df['ConvertedCompYearly'] = df['ConvertedCompYearly'].fillna(value=ConvertedCompYearly_median)

In [28]:
df_numbers = df.select_dtypes(include='number')
# print(df_numbers.columns)


for col in df_numbers.columns:
    df_median = df_numbers[col].median()
    df[col] = df[col].fillna(value=df_median)


df.select_dtypes(include='number').isnull().sum()

ResponseId             0
CompTotal              0
WorkExp                0
JobSatPoints_1         0
JobSatPoints_4         0
JobSatPoints_5         0
JobSatPoints_6         0
JobSatPoints_7         0
JobSatPoints_8         0
JobSatPoints_9         0
JobSatPoints_10        0
JobSatPoints_11        0
ConvertedCompYearly    0
JobSat                 0
dtype: int64

In [29]:
help(df.select_dtypes)

Help on method select_dtypes in module pandas.core.frame:

select_dtypes(include=None, exclude=None) -> 'Self' method of pandas.core.frame.DataFrame instance
    Return a subset of the DataFrame's columns based on the column dtypes.

    Parameters
    ----------
    include, exclude : scalar or list-like
        A selection of dtypes or strings to be included/excluded. At least
        one of these parameters must be supplied.

    Returns
    -------
    DataFrame
        The subset of the frame including the dtypes in ``include`` and
        excluding the dtypes in ``exclude``.

    Raises
    ------
    ValueError
        * If both of ``include`` and ``exclude`` are empty
        * If ``include`` and ``exclude`` have overlapping elements
        * If any kind of string dtype is passed in.

    See Also
    --------
    DataFrame.dtypes: Return Series with the data type of each column.

    Notes
    -----
    * To select all *numeric* types, use ``np.number`` or ``'number'``
    * To select strings you must use the ``object`` dtype, but note that
      this will return *all* object dtype columns. With
      ``pd.options.future.infer_string`` enabled, using ``"str"`` will
      work to select all string columns.
    * See the `numpy dtype hierarchy
      <https://numpy.org/doc/stable/reference/arrays.scalars.html>`__
    * To select datetimes, use ``np.datetime64``, ``'datetime'`` or
      ``'datetime64'``
    * To select timedeltas, use ``np.timedelta64``, ``'timedelta'`` or
      ``'timedelta64'``
    * To select Pandas categorical dtypes, use ``'category'``
    * To select Pandas datetimetz dtypes, use ``'datetimetz'``
      or ``'datetime64[ns, tz]'``

    Examples
    --------
    >>> df = pd.DataFrame({'a': [1, 2] * 3,
    ...                    'b': [True, False] * 3,
    ...                    'c': [1.0, 2.0] * 3})
    >>> df
            a      b  c
    0       1   True  1.0
    1       2  False  2.0
    2       1   True  1.0
    3       2  False  2.0
    4       1   True  1.0
    5       2  False  2.0

    >>> df.select_dtypes(include='bool')
       b
    0  True
    1  False
    2  True
    3  False
    4  True
    5  False

    >>> df.select_dtypes(include=['float64'])
       c
    0  1.0
    1  2.0
    2  1.0
    3  2.0
    4  1.0
    5  2.0

    >>> df.select_dtypes(exclude=['int64'])
           b    c
    0   True  1.0
    1  False  2.0
    2   True  1.0
    3  False  2.0
    4   True  1.0
    5  False  2.0

In [30]:
df_objects = df.select_dtypes(include='object')
# print(df_objects.columns)


for col in df_objects.columns:
    df_mode = df_objects[col].mode()[0]
    df[col] = df_objects[col].fillna(value=df_mode)


df.select_dtypes(include='object').isnull().sum()

MainBranch              0
Age                     0
Employment              0
RemoteWork              0
Check                   0
                       ..
ProfessionalCloud       0
ProfessionalQuestion    0
Industry                0
SurveyLength            0
SurveyEase              0
Length: 100, dtype: int64

<h5>5.3 Impute missing values in categorical columns (e.g., `RemoteWork`) with the most frequent value.</h5>

In [31]:
## Write your code here

RemoteWork_mode = df['RemoteWork'].mode()[0]

df['RemoteWork']=df['RemoteWork'].fillna(value=RemoteWork_mode)

### 6. Feature Scaling and Transformation

<h5>6.1 Apply Min-Max Scaling to normalize the `ConvertedCompYearly` column.</h5>

In [32]:
## Write your code here

<h5>6.2 Log-transform the ConvertedCompYearly column to reduce skewness.</h5>

In [33]:
## Write your code here


df['ConvertedCompYearly_log_transformed'] = np.log(df['ConvertedCompYearly'])

/tmp/ipykernel_301/1262067236.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['ConvertedCompYearly_log_transformed'] = np.log(df['ConvertedCompYearly'])

In [34]:
df['ConvertedCompYearly_log_transformed'].describe()

count    65437.000000
mean        10.975674
std          0.855452
min          0.000000
25%         11.082143
50%         11.082143
75%         11.082143
max         16.604010
Name: ConvertedCompYearly_log_transformed, dtype: float64

### 7. Feature Engineering

<h5>7.1 Create a new column `ExperienceLevel` based on the `YearsCodePro` column:</h5>

In [35]:
## Write your code here

df['YearsCodePro'].describe()

count     65437
unique       52
top           2
freq      17995
Name: YearsCodePro, dtype: object

In [36]:
df['YearsCodePro'].head()

0     2
1    17
2    27
3     2
4     2
Name: YearsCodePro, dtype: object

In [37]:
df['YearsCodePro'].unique().tolist()

['2',
 '17',
 '27',
 '7',
 '11',
 '25',
 '12',
 '10',
 '3',
 'Less than 1 year',
 '18',
 '37',
 '15',
 '20',
 '6',
 '16',
 '8',
 '14',
 '4',
 '45',
 '1',
 '24',
 '29',
 '5',
 '30',
 '26',
 '9',
 '33',
 '13',
 '35',
 '23',
 '22',
 '31',
 '19',
 '21',
 '28',
 '34',
 '32',
 '40',
 '50',
 '39',
 '44',
 '42',
 '41',
 '36',
 '38',
 'More than 50 years',
 '43',
 '47',
 '48',
 '46',
 '49']

In [38]:
s=df['YearsCodePro']
# Step 1 & 2: Define a mapping for non-numeric strings and convert
def convert_experience_to_numeric(value):
    if pd.isna(value):
        return np.nan # Keep NaN as NaN
    elif value == 'Less than 1 year':
        return 0 # Or 0.5, depending on your interpretation
    elif value == 'More than 50 years':
        return 51 # Or 50, or a higher cap like 60, depending on your bins
    else:
        try:
            return int(value)
        except ValueError:
            return np.nan # Handle any other unexpected non-numeric strings as NaN

# Apply the conversion function to the Series
s_numeric = s.apply(convert_experience_to_numeric)

print("\nConverted Numeric Series:")
print(s_numeric.value_counts(dropna=False).sort_index())
print(f"\nData type after conversion: {s_numeric.dtype}")

# Now that it's numeric, you can use pd.cut()
# Example: Binning the numeric experience
bins = [-1, 0, 5, 10, 20, 30, 50, 100] # Adjusted bins to include 0 and 51+
labels = ['<1 Year', '1-5 Years', '6-10 Years', '11-20 Years', '21-30 Years', '31-50 Years', '50+ Years']

s_binned = pd.cut(s_numeric, bins=bins, labels=labels, right=True, include_lowest=True)

print("\nBinned Series:")
print(s_binned.value_counts(dropna=False).sort_index())

Converted Numeric Series:
YearsCodePro
0      2856
1      2639
2     17995
3      4093
4      3215
5      3526
6      2843
7      2517
8      2549
9      1493
10     3251
11     1312
12     1777
13     1127
14     1082
15     1635
16      946
17      814
18      867
19      516
20     1549
21      380
22      492
23      448
24      632
25      998
26      426
27      380
28      342
29      196
30      689
31      106
32      194
33      132
34      169
35      285
36      119
37      104
38      134
39       54
40      194
41       51
42       55
43       37
44       42
45       56
46       21
47       10
48       14
49       11
50       14
51       50
Name: count, dtype: int64

Data type after conversion: int64

Binned Series:
YearsCodePro
<1 Year         2856
1-5 Years      31468
6-10 Years     12653
11-20 Years    11625
21-30 Years     4983
31-50 Years     1802
50+ Years         50
Name: count, dtype: int64

### Summary

In this lab, you:

- Explored the dataset to identify inconsistencies and missing values.

- Encoded categorical variables for analysis.

- Handled missing values using imputation techniques.

- Normalized and transformed numerical data to prepare it for analysis.

- Engineered a new feature to enhance data interpretation.

Copyright © IBM Corporation. All rights reserved.